test.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="formCadernoA">
		<xs:annotation>
			<xs:appinfo>
				<label>Recadastramento Vila do Mar - Caderno A</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="identificacao">
					<xs:annotation>
						<xs:appinfo>
							<label>Identificação</label>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="codigoPMF" type="xs:integer" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Código PMF</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
                                                        <xs:element name="codigoPMFNaoTem" type="xs:boolean">
								<xs:annotation>
									<xs:appinfo>
										<label>Não tem</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="data" type="xs:date" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Data</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="orgaoCadastrador" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Órgão Cadastrador</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="entrevistador" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Entrevistador</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="titularBeneficiario" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Titular Beneficiário</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="nomeComunidade" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Nome da Comunidade</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="tipoDemanda" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Tipo de Demanda</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Espontânea"/>
										<xs:enumeration value="Não Espontânea"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cartao" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Cartão</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Entregue"/>
										<xs:enumeration value="Não entregue"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="enderecoImovel">
					<xs:annotation>
						<xs:appinfo>
							<label>Endereço do Imóvel</label>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="logradouro" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Logradouro</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="numero" type="xs:integer" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Número</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="complemento" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Complemento</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="localizacaoCartografica" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>localização Cartográfica</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="bairro" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Bairro</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="telefone" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Telefone</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="informante" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Informante</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Presente"/>
										<xs:enumeration value="Ausente"/>
										<xs:enumeration value="Recusou-se"/>
										<xs:enumeration value="Casa desocupada"/>
										<xs:enumeration value="Terreno"/>
										<xs:enumeration value="Casa fechada"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="observacoes" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Observações</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="visita1" type="xs:dateTime" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>1 Visita</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="visita2" type="xs:dateTime" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>2 Visita</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="visita3" type="xs:dateTime" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>3 Visita</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="notificacao" type="xs:dateTime" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Notificação</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="caracteristicasImovel">
					<xs:annotation>
						<xs:appinfo>
							<label>Características do Imóvel</label>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="localizacao" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Localização</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="quadraloteada" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Quadra Loteada</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="leitoDeRua" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Leito de Rua</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="praca" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Praça</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="areaVerde" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Área Verde</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="terroParaEquipamentoComunitario" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Terro p/ Equipamento Comunitário</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="outro" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Outro</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="localizacaoOutro" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<label>Outro</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="areaPreservacao" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Area de Preservação</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Sim"/>
										<xs:enumeration value="Não"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tipologiaUso" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Tipologia de Uso</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Residencial"/>
										<xs:enumeration value="Comercial"/>
										<xs:enumeration value="Serviços"/>
										<xs:enumeration value="Mista"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tipoServico" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Tipo de Serviço</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="situacaoFundiaria" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Situação Fundiária</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Público"/>
										<xs:enumeration value="Privado"/>
										<xs:enumeration value="Não sabe"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="compartimentosMoradia">
								<xs:annotation>
									<xs:appinfo>
										<label>Compartimentos da Moradia</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="qtdQuartos" type="xs:integer" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<label>Quarto(s)</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="qtdSalas" type="xs:integer" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<label>Sala(s)</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="qtdCozinhas" type="xs:integer" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<label>Cozinha(s)</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="qtdBanheiros" type="xs:integer" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<label>Banheiro(s)</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="qtdQuintais" type="xs:integer" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<label>Qtde Quintais</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="qtdUotros" type="xs:integer" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<label>Outro(s)</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="localizacaoOutro" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<label>Outro(s)</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="tipoMoradia" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Tipo de Moradia</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Própria/Regularizada"/>
										<xs:enumeration value="Comprada(Própria)"/>
										<xs:enumeration value="Cedida"/>
										<xs:enumeration value="Invadida"/>
										<xs:enumeration value="Trocada"/>
										<xs:enumeration value="Alugada"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="numMatricula" type="xs:integer" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Num. Matrícula</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="cartorio" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Cartório</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="zona" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Zona</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="nomeProprietario" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Nome do Proprietário</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="valor" type="xs:float" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Valor</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="enderecoProprietario" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Endereço do Proprietário</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="telefoneProprietario" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Telefone do Proprietário</label>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="tipologiaConstrucao" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Tipologia de Construção</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Alvenaria"/>
										<xs:enumeration value="Taipa"/>
										<xs:enumeration value="Madeira"/>
										<xs:enumeration value="Pré-moldado"/>
										<xs:enumeration value="Papelão"/>
										<xs:enumeration value="Plástico"/>
										<xs:enumeration value="Lona"/>
										<xs:enumeration value="Mista"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tipoCobertura" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Tipo de Cobertura</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Telha"/>
										<xs:enumeration value="Palha"/>
										<xs:enumeration value="Plástico/Madeira"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tipoPiso" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Tipo de Piso</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Barro Batido"/>
										<xs:enumeration value="Tábua"/>
										<xs:enumeration value="Cerâmica"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="revestimentoParede" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Revestimento de Parede</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Com Reboco"/>
										<xs:enumeration value="Sem Reboco"/>
										<xs:enumeration value="Pintura"/>
										<xs:enumeration value="Plástico"/>
										<xs:enumeration value="Papelão"/>
										<xs:enumeration value="Madeira"/>
										<xs:enumeration value="Taipa"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="casaEmSituacaRisco" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Casa em Situação de Risco</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Sim"/>
										<xs:enumeration value="Nao"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tipoRisco" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Tipo de Risco</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="alagamento" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Alagamento</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="inundacao" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Inundação</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="deslizamento" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Deslizamento</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="viaFerrea" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Via Férrea</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="linhaAltaTensao" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Linha de Alta Tensão</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="outro" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Outro</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="tipoRiscoOutro" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<label>Outro</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="infraestrutura" >
					<xs:annotation>
						<xs:appinfo>
							<label>Infraestrutura</label>
						</xs:appinfo>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="redeDeAgua" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Rede de Água</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Sim"/>
										<xs:enumeration value="Não"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="abastecimentoAguaPublicoPrivado" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Abastecimento de Água</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Público"/>
										<xs:enumeration value="Privado"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="abastecimentoAgua">
								<xs:annotation>
									<xs:appinfo>
										<label>Abastecimento</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="tipoAbastecimentoAgua" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<label>Tipo de Abastecimento de Água</label>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Não Informado"/>
													<xs:enumeration value="Hidrômetro Individual"/>
													<xs:enumeration value="Hidrômetro Coletivo"/>
													<xs:enumeration value="Ligação Cladestina"/>
													<xs:enumeration value="Poço"/>
													<xs:enumeration value="Chafariz"/>
													<xs:enumeration value="Outro"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="tipoAbastecimentoAguaOutro" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<label>Outro</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="redeColetaEsgoto" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Rede de Coleta de Esgoto</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Sim"/>
										<xs:enumeration value="Não"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="esgotamentoSanitario" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Esgotamento Sanitário</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Rede Oficial"/>
										<xs:enumeration value="Rede Não Oficial"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="esgotamentoSanitario2">
								<xs:annotation>
									<xs:appinfo>
										<label>Esgotamento Sanitário</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="tipo" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<label>Tipo</label>
												</xs:appinfo>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Não Informado"/>
													<xs:enumeration value="CAGECE"/>
													<xs:enumeration value="Fossa/Sumidouro"/>
													<xs:enumeration value="Vala Em Via Pública"/>
													<xs:enumeration value="Rede de Drenagem/Recursos Hídricos"/>
													<xs:enumeration value="Outro"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="tipoAbastecimentoAgua2Outro" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<label>Outro</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="tipoLigacaoRedeEletrica" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Tipo de Ligação com a Rede de Energia Elétrica</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Inexistente"/>
										<xs:enumeration value="Oficial"/>
										<xs:enumeration value="Clandestina"/>
										<xs:enumeration value="Cortada"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tipoPavimentacao" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Tipo de Pavimentação</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Asfalto"/>
										<xs:enumeration value="Pedra Tosca"/>
										<xs:enumeration value="Piçarra"/>
										<xs:enumeration value="Paralelepípedo"/>
										<xs:enumeration value="Sem Pavimentação"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tipoDrenagem" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Tipo de Drenagem</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="galeriaSubterranea" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Galeria Subterrânea</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="sarjeta" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Sarjeta</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="cursoDaguaCanalizado" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Curso D'água Canalizado</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="cursoDaguaNaoCanalizado" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Curso Não D'água Canalizado</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="outro" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Outro</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="tipoDrenagemOutro" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<label>Outro</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="tipoServicoTelefonicoPredominante" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Tipo de Serviço Telefônico Utilizado Predominantemente</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Fixo"/>
										<xs:enumeration value="Celular"/>
										<xs:enumeration value="Público"/>
										<xs:enumeration value="Comunitário"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="coletaSistematicaLixo" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Coleta Sistemática (Lixo)</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Não Informado"/>
										<xs:enumeration value="Sim"/>
										<xs:enumeration value="Não"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="destinoLixo" minOccurs="0">
								<xs:annotation>
									<xs:appinfo>
										<label>Destino do Lixo</label>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="sistemaColeta" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Sistema de Coleta</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="sarjeta" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Sarjeta</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="cursoDaguaCanalizado" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Curso D'água Canalizado</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="cursoDaguaNaoCanalizado" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Curso Não D'água Canalizado</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="outro" type="xs:boolean">
											<xs:annotation>
												<xs:appinfo>
													<label>Outro</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
										<xs:element name="tipoDrenagemOutro" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<label>Outro</label>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
